@import '../../styles/themes';
@import '@nebular/theme/styles/global/breakpoints';
@import 'bootstrap/scss/mixins/breakpoints';

@include nb-install-component() {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .created-by {
    color: nb-theme(text-basic-color);
    font-weight: 600;
  }
}
